<%- include('inc/header.ejs') %>
<main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="/" class="logo d-flex align-items-center w-auto">
                  <img src="/assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">VoiceChat</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>

                  <form id="regForm" method="post" action="/register" class="row g-3 needs-validation" novalidate>
                    <div class="col-6">
                      <label for="fName" class="form-label">Your Name</label>
                      <input type="text" name="first_name" class="form-control" id="fName" required>
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>
                    <div class="col-6">
                        <label for="lName" class="form-label">Your Name</label>
                        <input type="text" name="last_name" class="form-control" id="lName" required>
                        <div class="invalid-feedback">Please, enter your name!</div>
                      </div>
                 

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Mobile</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">
                            <i class="bi bi-phone"></i>
                        </span>
                        <input type="number" min="0" name="mobile" class="form-control" id="yourMobile" required>
                        <div class="invalid-feedback">Please choose a username.</div>
                      </div>
                    </div>

                    <div class="col-6">
                      <label for="yourPassword" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>
                    <div class="col-6">
                        <label for="cnfPassword" class="form-label">Confirm Password</label>
                        <input type="password" name="cnf_password" class="form-control" id="cnfPassword" required>
                        <div class="invalid-feedback">Please re-enter your password!</div>
                      </div>
                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div id="res"></div>
                      <button id="regBtn" class="btn btn-primary w-100" type="button">Create Account</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Already have an account? <a href="/login">Log in</a></p>
                    </div>
                  </form>

                </div>
              </div>

              <div class="credits">
                Designed & Developed by <a href="https://webartvision.com">Webartvision</a>
              </div>


            </div>
          </div>
        </div>

      </section>
<script>

  $(document).ready(function() {
      $('#regBtn').on('click',function(event) {
          event.preventDefault();
          $.ajax({
              url: '/register',
              method: 'post',
              data: $('#regForm').serializeArray(),
              dataType: 'html',
              success: function(resultValue) {
                  $('#res').html(resultValue)
              }
          });
      });
  });
  </script>

    </div>
  </main><!-- End #main -->

<%- include('inc/footer-auth.ejs') %>
